.body-2 {
  background-color: var(--bg-theme2);
}

.top-container-2 {
  color: var(--text-dark-theme2);
}

.slider-2 { 
  background-color: var(--toggle-bg-theme2);
}

.slider-2::-webkit-slider-thumb { 
  background-color: var(--orange-theme2);
}
    
.display-calculation-2 {
  background-color: var(--screen-bg-theme2);
  color: var(--text-dark-theme2);
}

.input-container-2 { 
  background-color: var(--toggle-bg-theme2);
}

.calc-button-2 { 
  background-color: var(--yellow-theme2);
  color: var(--text-dark-theme1);
  box-shadow: inset 0 -4px 0 var(--dark-orange-shadow-theme2);
}

.del-button-2, .reset-button-2 {
  background-color: var(--key-bg-theme2);
  color: var(--text-white-theme1);
  box-shadow: inset 0 -4px 0 var(--key-shadow-theme2);
}

.equals-button-2 {
  background-color: var(--orange-theme2);
  color: var(--text-white-theme1);
  box-shadow: inset 0 -4px 0 var(--dark-orange-theme2);
}

.calc-button-2:hover { 
  background-color: hsl(45, 7%, 100%);
}

.del-button-2:hover, .reset-button-2:hover { 
  background-color: hsl(185, 42%, 60%);
}

.equals-button-2:hover { 
  background-color: hsl(25, 98%, 60%);
}